
!odm_kafka_bridge/config/example.env

# Authentication
.env
*.crt
*.key
*.jks
*.p12

# Byte-compiled / optimized / DLL files
build/
*.py[codz]

# Caches
__pycache__/
.cache/

# Packaging
*.egg-info

